{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/core"
tap "romkatv/powerlevel10k"
tap "superfly/tap"
brew "python@3.9"
brew "ansible"
brew "argocd"
brew "bash"
brew "broot"
brew "caddy"
brew "delve"
brew "go"
brew "golangci-lint"
brew "helm"
brew "k9s"
brew "minikube"
brew "nghttp2"
brew "nmap"
brew "node"
brew "poetry"
brew "postgresql"
brew "skaffold"
brew "telnet"
brew "terraform"
brew "tmux"
brew "tree"
brew "yarn"
brew "aws-iam-authenticator"
brew "awscli"
brew "zsh"
brew "zsh-completions"
brew "gitui"
EOF
{{ else if eq .chezmoi.os "linux" -}}
{{- if eq .chezmoi.osRelease.idLike "debian"}}
#!/bin/bash
sudo apt install 

{{ else if eq .chezmoi.osRelease.idLike "rhel centos fedora"}}


{{ end -}}
{{ end -}}