#!/bin/bash

if [[ -f "{{ .chezmoi.homeDir }}/bin/chezmoi" ]]; then
	echo "Moving Chezmoi to /user/bin"
	cp -p {{ .chezmoi.homeDir }}/bin/chezmoi /usr/bin/chezmoi
	rm {{ .chezmoi.homeDir }}/bin/chezmoi
fi
